.container { margin: 0 auto; max-width: 1200px; }

.board h1 { color: #7e4780; font-family: 'Butterfly Kids'; font-size: 200px; line-height: 64px; margin: 100px auto; text-align: center; text-transform: uppercase; }

.create-column { background-color: #646664; color: #f0ebed; display: block; font-size: 16px; height: 80px; margin: 30px auto; width: 220px; border-radius: 20px; padding: 30px; }

.create-column p { float: left; margin: 0; }

.create-column .fa { float: right; color: white; }

.column-container { display: flex; flex-wrap: wrap; justify-content: center; margin-top: 60px; }

.column { align-items: center; background-color: #646664; border-radius: 5px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35); flex: 1; justify-content: center; margin: 0px 25px 30px; max-width: 340px; min-height: 380px; min-width: 340px; }

.column-title { border-bottom: 8px solid #f0ebed; font-family: 'Butterfly Kids'; letter-spacing: 3px; font-size: 32px; line-height: 65px; margin: -25px auto 20px; text-align: center; color: #f0ebed; }

.column-card-list { list-style-type: none; min-height: 200px; padding: 5px; }

.btn-delete { background-color: #fff0; color: #646664; border: none; font-size: 20px; margin-left: calc(100% - 40px); margin-top: 12px; }

.add-card { background-color: white; border: none; border-radius: 50%; font-size: 20px; height: 27px; line-height: 0px; margin-left: 20px; width: 27px; }

.card { background-color: #ffffff; border-radius: 8px; list-style-type: none; margin: 10px; min-height: 30px; padding: 2px 0; }

.card-description { color: #646664; font-family: 'Open Sans', sans-serif; margin: 10px 50px; width: 75%; }

.card-delete { background-color: #646664; border: none; color: #f0ebed; cursor: pointer; display: block; float: right; margin-right: 10px; margin-top: 11px; text-transform: uppercase; }

.card-placeholder { background-color: rgba(255, 255, 255, 0.55); border: 1px dashed rgba(0, 0, 0, 0.3); border-radius: 5px; }

.edit { background-color: #FFF; border: none; color: #646664; display: block; float: left; margin-left: 10px; margin-top: -29px; text-transform: uppercase; }
