$kanbanTitle: rgb(126, 71, 128);
$kanbanColor: rgb(100, 102, 100);
$kanbanText: rgb(240, 235, 237);

.container {
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .board h1 {
    color: $kanbanTitle;
    font-family: 'Butterfly Kids';
    font-size: 200px;
    line-height: 64px;
    margin: 100px auto;
    text-align: center;
    text-transform: uppercase;
  }
  
  .create-column {
    background-color: $kanbanColor;
    color: $kanbanText;
    display: block;
    font-size: 16px;
    height: 80px;
    margin: 30px auto;
    width: 220px;
    border-radius: 20px;
    padding: 30px;
  
    p {
      float: left;
      margin: 0;
    }
  
    .fa {
      float: right;
      color: white;
    }
  }
  
  .column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
  }
  
  .column {
    align-items: center;
    background-color: $kanbanColor;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
    flex: 1;
    justify-content: center;
    margin: 0px 25px 30px;
    max-width: 340px;
    min-height: 380px;
    min-width: 340px;
  }
  
  .column-title {
    border-bottom: 8px solid $kanbanText;
    font-family: 'Butterfly Kids';
    letter-spacing: 3px;
    font-size: 32px;
    line-height: 65px;
    margin: -25px auto 20px;
    text-align: center;
    color: $kanbanText;
  }
  
  .column-card-list {
    list-style-type: none;
    min-height: 200px;
    padding: 5px;
  }
  
  .btn-delete {
    background-color: #fff0;
    color: $kanbanColor;
    border: none;
    font-size: 20px;
    margin-left: calc(100% - 40px);
    margin-top: 12px;
  }
  
  .add-card {
    background-color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    height: 27px;
    line-height: 0px;
    margin-left: 20px;
    width: 27px;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 8px;
    list-style-type: none;
    margin: 10px;
    min-height: 30px;
    padding: 2px 0;
  }
  
  .card-description {
    color: $kanbanColor;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 50px;
    width: 75%;
  }
  
  .card-delete {
    background-color: $kanbanColor;
    border: none;
    color: $kanbanText;
    cursor: pointer;
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 11px;
    text-transform: uppercase;
  }
  
  .card-placeholder {
    background-color: rgba(255, 255, 255, 0.55);
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
  .edit {
    background-color: #FFF;
    border: none;
    color: $kanbanColor;
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: -29px;
    text-transform: uppercase;
  }